body {
    margin: 0;
    padding: 0 15px 0 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    list-style: none;
    text-align: left;
    padding: 20px 0 20px 0;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav > li > a {
    text-decoration: none;
    color: #000000;
}

.nav > li > a:hover {
    color: #ffffff;
}

.banner{
    width: 100%;
    display: block;
}

.banner > .banner-image {
    width: 100%;
    display: block;
}

.paragraph {
    color: #cec4b6;
    text-align: left;
    font-size: 15px;
}

.button {
    text-align: center;
       
}

.fa{
  
    text-align:right;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .fa-skype {
    background: #00aff0;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  